In [1]:

import numpy as np
import pandas as pd
dataset=pd.read_csv("C:\\Users\\Hp\\Heart Desease Machine Learning11\\Heart Desease Machine Learning\\heart_desease.csv")
print(dataset.info())

C:\Users\Hp\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Hp\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\Hp\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB
None

In [2]:
dataset.describe() #for describing the datasets

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [3]:
#performing standarization
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

col_scale=['age','trestbps','chol','thalach','oldpeak']
dataset[col_scale]=sc.fit_transform(dataset[col_scale])#standarization

In [4]:
#taking x and y values for 
y=dataset['target']
x=dataset.drop(['target'],axis=1)
x.shape

(303, 13)

In [5]:
from sklearn.model_selection  import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [6]:
#K-nearest neighbour
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
#knn_score=[]
knn_predict=[]
for k in range(1,21):
    knn_classifier=KNeighborsClassifier(n_neighbors=k,p=2)
    knn_classifier.fit(x_train,y_train)
   
    y_pred=knn_classifier.predict(x_test)
    knn_predict.append(accuracy_score(y_test,y_pred))

#print(knn_predict)
print("neighbours","accuracy score")
for i in range(1,20):
    print(i,"      ",(knn_predict[i]*100))
#here we have seen that for neighbour 6,7, and 15 accuracy is good.

neighbours accuracy score
1        77.04918032786885
2        80.32786885245902
3        78.68852459016394
4        83.60655737704919
5        83.60655737704919
6        85.24590163934425
7        85.24590163934425
8        80.32786885245902
9        83.60655737704919
10        80.32786885245902
11        83.60655737704919
12        83.60655737704919
13        80.32786885245902
14        83.60655737704919
15        85.24590163934425
16        83.60655737704919
17        81.9672131147541
18        80.32786885245902
19        80.32786885245902

In [7]:
#SUPPORT VECTOR MACHINE
from sklearn.svm import SVC
svm_score=[]
kernals=['linear','poly','rbf','sigmoid']
for i in range(len(kernals)):
    svm=SVC(kernel=kernals[i],C=1)
    svm.fit(x_train,y_train)
    y_pred=svm.predict(x_test)
    svm_score.append(accuracy_score(y_test,y_pred))
c=0  
print("Accuracy score with different kernals")
for i in kernals:
    print(i,  svm_score[c])
    c=c+1
#here we have poly kernal performs best in this dataset.

Accuracy score with different kernals
linear 0.819672131147541
poly 0.8688524590163934
rbf 0.8524590163934426
sigmoid 0.819672131147541

In [8]:
from sklearn.tree import DecisionTreeClassifier
de_tree=[]
for i in range(1,len(x.columns)+1):
    d_tree=DecisionTreeClassifier(max_features=i,random_state=0)
    d_tree.fit(x_train,y_train)
    y_pred=d_tree.predict(x_test)
    de_tree.append(accuracy_score(y_test,y_pred))
for i in range(1,13):
    print("max features ",i," accuracy score ",de_tree[i])

max features  1  accuracy score  0.639344262295082
max features  2  accuracy score  0.7868852459016393
max features  3  accuracy score  0.7540983606557377
max features  4  accuracy score  0.7704918032786885
max features  5  accuracy score  0.6557377049180327
max features  6  accuracy score  0.7377049180327869
max features  7  accuracy score  0.8032786885245902
max features  8  accuracy score  0.7868852459016393
max features  9  accuracy score  0.7868852459016393
max features  10  accuracy score  0.7704918032786885
max features  11  accuracy score  0.7377049180327869
max features  12  accuracy score  0.7704918032786885

In [9]:
#RANDOM FOREST CLASSIFIER
from sklearn.ensemble import RandomForestClassifier
rf_score=[]
estimators=[10,100,200,500,1000]
for i in estimators:
    rf=RandomForestClassifier(n_estimators=i,random_state=0)
    rf.fit(x_train,y_train)
    y_pred=rf.predict(x_test)
    rf_score.append(accuracy_score(y_test,y_pred))
c=0
for i in estimators:
    print("number of estimators ",i," accuracy score ",rf_score[c])
    c=c+1

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

number of estimators  10  accuracy score  0.8852459016393442
number of estimators  100  accuracy score  0.8688524590163934
number of estimators  200  accuracy score  0.8524590163934426
number of estimators  500  accuracy score  0.8524590163934426
number of estimators  1000  accuracy score  0.8524590163934426